# Used to encrypt user id before storing in cookies
INTERNAL_JWT_SECRET=

# Used to encrypt user id before sending data to server
SHARED_JWT_SECRET=

# Needs to be PUBLIC, to show google log in button on client
PUBLIC_GOOGLE_CLIENT_ID=